@font-face {
  font-family: Lato;
  src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Merri;
  src: url('fonts/Merriweather/Merriweather-Regular.ttf');
}

/* p */
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}
